/* #region Styling for the action buttons */

.actions {
  margin-top: 10px;
  margin-right: 25%;
  text-transform: uppercase;
  background-image: none;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  height: 36px;
  letter-spacing: 0.25px;
  line-height: 16px;
  padding: 9px 24px 11px 24px;
  background-color: #fff;
  border: 1px solid #dadce0 !important;
  color: #202124;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.5s;
}

.actions:hover {
  background-color: rgba(0, 0, 255, 0.3);
  transition: background-color 0.5s;
}

.savePNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 60px;
  cursor: pointer;
}

.previewPNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 94px;
}

.createPNG {
  height: 6%;
  position: absolute;
  top: 93%;
  right: 15px;
  cursor: pointer;
  background-color: rgb(41, 120, 139);
  background-position: top;
  border-radius: 10px;
}

.switchPNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 128px;
  cursor: pointer;
}

.deletePNG {
  height: 2.7%;
  position: absolute;
  top: 9px;
  right: 26px;
  cursor: pointer;
}

.deployPNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 162px;
  cursor: pointer;
}

.duplicatePNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 196px;
  cursor: pointer;
}

.settingsPNG {
  height: 3%;
  position: absolute;
  top: 8px;
  right: 230px;
  cursor: pointer;
}

/* #endregion */

/* #region Style input boxes */

#name,
#duplicateName {
  margin-left: 20%;
}

/* #endregion */

/* #region Style all of the dropdown menus */

.select-css {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #fff 0, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: 0;
}

.select-css option {
  font-weight: 400;
}

:root:lang(ar) .select-css,
:root:lang(iw) .select-css,
[dir='rtl'] .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.select-css:disabled,
.select-css[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #fff 0, #e5e5e5 100%);
}

.select-css:disabled:hover,
.select-css[aria-disabled='true'] {
  border-color: #aaa;
}

/* #endregion */

/* #region Saving boxes and options */

#notSaved {
  display: none;
}

#saved {
  display: block;
}

#done-saving-check {
  width: 30%;
  margin-left: 35%;
}

#done-saved-dialog {
  width: 25%;
}

.savedBox {
  background-color: rgb(44, 10, 83) !important;
  width: 5%;
  height: 5%;
  text-align: center;
  position: fixed;
  line-height: 65%;
  bottom: 3px;
  right: 95%;
}

#done-with-it {
  margin-left: 45%;
  color: white;
}

/* #endregion */

/* #region CSS specific for the IDE */

.tabbuttons {
  background-color: rgb(78, 148, 148);
}

.tabbuttons > button {
  box-shadow: darkslategrey 10px 5px;
  margin-left: 10px;
}

.tabcontent {
  height: 80%;
}

/* #endregion */

/* #region CSS specific for dialogs and popups */

#panelData {
  margin-top: 20px;
}

#status,
#duplicateStatus {
  color: blue;
  margin-left: 80px;
}

#styles-label {
  margin-left: 40%;
}

#style-number {
  margin-left: 20%;
}

#scripts-label {
  margin-left: 40%;
}

#scripts-number {
  margin-left: 20%;
}

/* #endregion */

/* #region CSS specific for the template choosing */

.template {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 50px;
}

.templateImg {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.templateAction {
  text-transform: none !important;
}

/* #endregion */

/* #region Cookie banner */

#cookie-banner {
  position: fixed;
  bottom: 40px;
  right: 42%;
  width: 10%;
  padding: 5px 14px;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#close {
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
}

/* #endregion */

/* #region Start Message */

#msgStart {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 150%;
}

/* #endregion */

/* #region Miscellaneous */

/* Removed all styling on <a> tags */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Shift menus to the right */
.menus {
  margin-right: 40px;
}

/* Customize fonts */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 99%;
}

/* Changed dialog background colors to look better on dark mode */
dialog {
  background-color: rgb(49, 19, 105);
}

/* Make the label stand out on the background */
label[for='panelData'] {
  color: white;
}

/* Prevent scrollbars */
body {
  overflow: hidden;
}

/* Prevent highlighting of images and cookies close button */
img, button#close {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Does some prevention of the white flash before loading webpage */
body {
  background-color: black;
}

/* #endregion */
